# Created by .ignore support plugin (hsz.mobi)

.idea/
servidor/node_modules/express/node_modules/send/node_modules/.bin/
servidor/node_modules/nedb/node_modules/.bin/
servidor/node_modules/nedb/node_modules/localforage/node_modules/lie/node_modules/es3ify/node_modules/.bin/
servidor/node_modules/nedb/node_modules/localforage/node_modules/lie/node_modules/inline-process-browser/node_modules/falafel/node_modules/.bin/
servidor/node_modules/nedb/node_modules/localforage/node_modules/lie/node_modules/unreachable-branch-transform/node_modules/recast/node_modules/.bin/
alura-typer.iml
